body{
background-color: coral;
}

.container-perfil{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: crimson;
    max-width: 50%;
    max-height: 50%;
    margin-left: 25%;
    margin-top: 2rem;
}
.container-perfil-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.container-perfil-titulo h1,.container-perfil-titulo h2{
    font-size: 1rem;
    font-weight: 700;
    padding: 10px;
    color: white;
}
.container-foto-perfil{
    border-radius: 50%;
    border-style: solid;
    overflow: hidden;
    max-width: 150px;
    max-height: 150px;
    margin: 1rem;
}

.foto-perfil{
    max-width: 150px;
}

.container-perfil-info{
    display: none;
}

.container-projetos{
    display: block;
}

.projeto {
    padding: 10px;

}
.projeto-descricao{
    display: none;
}

.projeto h3 {
    color: blue;
}

.container-formacao{

}

.container-certificados{

}

.container-experiecias{

}

.container-competencias{

}

.contatos {
    display: flex;
}