

body{
background-color: coral;
font-family: sans-serif;
}
.container{
    display: flex;
    align-items: center;
}
.container-perfil{
    
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background-color: crimson;
    width: 33%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;

}
.container-perfil-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#nome{
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    color: white;
    margin: 20px 20px 0 20px;
}
@keyframes changecolor {
    from{color: white ;}
    to{color: goldenrod;}
    
}
#nome:hover{
    color: white;
    animation-name: changecolor;
    animation-duration: 2s;
    animation-delay: 50ms;
    animation-fill-mode: both;
    
}
#funcao{
    font-size: 8px ;
    text-align: center;
    color: white;
    margin-bottom: 20px;

}
.container-foto-perfil{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 110px;
    height: 110px;
}
.foto-perfil{
    width: 120%;
}

.container-perfil-info{
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contatos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.container-rede-social{
    margin: 5%;
}
.icon{
    width: 25px;
    height: 25px;
}
.icon:hover{
    width: 27px;
    height: 27px;
}

.container-main{
    display: flex;
    flex-direction: column;
}
.menu {
    display: flex;
    position: absolute;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 3rem;
    top: 0;
    right: 0;
    margin: 0;
    background-color: aliceblue;
}
.menu-item{
    font-weight: 700;
    font-size: 14px;
    padding: 8px;

}
.menu-link:hover{
    animation: alternate;
    color: midnightblue;
}

.menu-link{
    text-decoration: none;
    color: brown;
}
.projeto {
    padding: 10px;

}
.projeto-descricao{
    display: none;
}

.projeto h3 {
    color: blue;
}

.container-formacao{

}

.container-certificados{

}

.container-experiecias{

}

.container-competencias{

}

@media screen and (min-width: 475px) {
    .container-perfil{
        width: 25%;
    }
}
@media screen and (min-width: 1024px)  {

    .container-perfil{
    
        width: 20%;
        height: 100vh;
    
    }
    .container-perfil-titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    #nome{
        margin-top: 5%;
        font-size: 16px;
        text-align: center;
        margin-left: 15px;
        margin-right: 20px;
    }
    #funcao{
        font-size: 12px ;
        padding: 10px 0;
    
    }
    .container-foto-perfil{
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
        width: 100px;
        height: 100px;
    }

    .foto-perfil{
        width: 130px;
    }
    
}